# Python virtual environment
venv/
.venv/
ENV/
env/

# Python cache
__pycache__/
**/__pycache__/
*.py[cod]
*.pyo
*.pyd

# Environment variables
.env
.env.*

#data
data/

# OS files
.DS_Store
Thumbs.db

# Editor/IDE files
.vscode/
.idea/
*.swp
*.swo
*~

# Test / coverage artifacts
.pytest_cache/
.coverage
.coverage.*
htmlcov/

GOALS.md
cleanup.py 
    #used for cleaning up the data folder, not needed in production

